# Copie este arquivo para .env e preencha com suas chaves
# NÃO COMITE O ARQUIVO .env!

OPENROUTER_API_KEY=sua_chave_aqui
ANTHROPIC_BASE_URL=https://openrouter.ai/api
ANTHROPIC_AUTH_TOKEN=sua_chave_aqui
ANTHROPIC_API_KEY=
SUPABASE_ACCESS_TOKEN=sua_chave_aqui
